html, body {
  margin: 0;
  padding: 0;
}
.hp{
  width:700px;
  text-align:center;
  margin: 30px  auto;
}
.handsontable {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  vertical-align:middle;
}
.echarts{
    width: 800px;
    height: 400px;
    margin: 50px auto;
}
